<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id = "nav">
  <button><%= link_to 'Newest', patients_path %></button>
  <button><%#= link_to 'Previous 5 Patient', patients_path(page: @page.to_i - 1) %></button>
  <button><%= link_to "Next 5 Patient", patients_path(page: @page_number.to_i + 1) %></button>
</div>

<br>
<h1><%= display_string %></h1>

<%= link_to 'New Patient', new_patient_path %>
